<launch>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="robot_model" default="g500_eca_pv.urdf.xacro"/>
  <arg name="simulation" default="true"/>
  <arg name="gui" default="true" />

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find my_robot)/worlds/my_world.world"/>
	
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <!-- more default parameters can be changed here -->
  </include>

  <param name="simulation" type="boolean" value="$(arg simulation)" />

  <!-- Static TF rviz to world -->s
  <node pkg="tf" type="static_transform_publisher" name="fixedbase_to_auvbase" args="0 0 0 0 0 3.14159 /rviz /world 100"/> 

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find g500_arm_description)/urdf/$(arg robot_model)'"/>
 
  <!-- Robot State Publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <!-- Joint State Publisher-->
  <node if="$(arg simulation)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
     <param name="use_gui" value="$(arg gui)" />
     <rosparam param="/source_list">[/iauv/joint_telem]</rosparam>
  </node>
  <node if="$(arg simulation)" name="relay_iauv_joint_cmd2Joint_telem" pkg="topic_tools" type="relay" args="/iauv/joint_cmd /iauv/joint_telem"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
     args="-param robot_description -urdf -model robot_description" />

</launch>
